<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flusk</title>
    <link rel="stylesheet" href="static/css/app.min.css" />
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <nav>
      <div class="container">
        <div class="nav-inner">
          <div class="nav-brand">ElB</div>
          <ul class="main-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
